<meta charset="utf-8" />

<title>Image Processing App</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="icon" type="image/png" href="icons/smile.png" />


<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<!-- JQuery -->
<script src="/jquery/jquery.js"></script>
<script src="/caman/caman.full.min.js"></script>
<script src="/jquery_script/client.js"></script>