<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/menu.ejs %>
  <div class = "center">
    <p>
      This app makes use of the following tools:
      <li> CamanJS: http://camanjs.com</li>
      <li> JQuery: https://jquery.com/ </li>
    </p>
  </div>
</body>
<% include ../partials/footer.ejs %>
</html>
