<!DOCTYPE html>
<html>

<head>
  <%-include ('../partials/head.ejs')%>
</head>

<body>
  <%-include ('../partials/header.ejs')%>
  <div class="center">
    <p>
      This app makes use of the following tools:
      <li> CamanJS: http://camanjs.com</li>
      <li> JQuery: https://jquery.com/ </li>
      <li> Feather Icons: https://feathericons.com/ </li>
    </p>
  </div>
  <%- include ('../partials/footer.ejs') %>
</body>

</html>