<!DOCTYPE html>
<html>

<head>
  <%- include ('../partials/head.ejs') %>
</head>

<body>
  <%-include ('../partials/header.ejs')%>

  <!-- UI which allows the user to upload and display an image -->
  <div class="center">

    <section name="img_upload">
      <h2> Image processing with CamanJS and JQuery </h2>
      <p> Upload an image to apply effects to it. </p>
      <!-- Allows an image to uploaded and displayed -->
      <input type='file' id='files' style="padding-left:100px;" onchange="display_image(this)" />
      <br><br>
      <img id="upload" src="#" />
      <hr>
    </section>

    <section name="img_effects">
      <h4>Brightness</h4>
      <form id="sliderInput">
        <label for="brightness">Brightness</label>
        <input id="brightness" type="range" name="Brightness" min="-50" max="50" value="0" disabled>
      </form>
      <br>
      <h4>Filters</h4>
      <button id="greyscale_btn" type="button" disabled onclick="toGrayscale()">Grayscale</button>
      <button id="invert_btn" type="button" disabled onclick="invert()">Invert</button>
      <hr>
    </section>

    <section name="img_reset">
      <button id="reset_btn" type="button" disabled onclick="reset()">Reset</button>
    </section>

  </div>
    <%- include ('../partials/footer.ejs') %>
</body>


</html>