<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>
  <% include ../partials/menu.ejs %>

  <div class = "center">
    <p>
      This is a Heroku app where I experiment
      with various tools.
    </p>
  </div>

</body>
<% include ../partials/footer.ejs %>
</html>
